<p> What do you want to do?</p>
<p>
  <ul>
    <li><a href="/save">Enter data to be saved for another session</a></li>
    <li><a href="/get">Retrieve previously saved data</a></li>
  </ul>
</p>