<span>
	<p>Enter any data you wish to be saved locally for another session:</p>
	<input id="textbox1" type="text" />
	<button type="button" onclick="doSave(document.getElementById('textbox1').value)">Submit Data</button>
</span>
<span>
	<button type="button" onclick="destroy()">Empty the Database</button>
</span>
<span>
	<a type="button" href="/get">Retrieval Page</button>
</span>